<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                rel="stylesheet"
        />

        <link
                href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
                rel="stylesheet"
        />

        <link
                href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css"
                rel="stylesheet"
        />
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script
                type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"
        ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img
                        src="http://127.0.0.1:8000/resources/logo.png"
                        height="30"
                        alt="MDB Logo"
                        loading="lazy"
                />
                <span class="navbar-text">Гид по ремонту</span>
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Статьи
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/article/category/1">Косметический ремонт</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/article/category/2">Капитальный ремонт</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/article/category/3">Евроремонт</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <div class="input-group rounded" style="width: 250px; margin-right: 100px">
            <input id="searchInput" type="search" class="form-control rounded" placeholder="Найти статью" aria-label="Search"
                   aria-describedby="search-addon"/>
            <button id="btnSearch" type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <!-- Collapsible wrapper -->
        {% if is_granted('ROLE_PROFESSIONAL') %}
            proffessional
            <div class="dropdown">
                <a
                        class="dropdown-toggle d-flex align-items-center hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuAvatar"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    <img
                            src="http://127.0.0.1:8000/resources/worker.png"
                            class="rounded-circle"
                            height="25"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"
                    />
                </a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                        <a class="dropdown-item" href="#">Профиль</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('article_create') }}">Написать статью</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/logout">Выйти</a>
                    </li>
                </ul>
            </div>
        {% elseif is_granted('ROLE_USER') %}
            user
            <div class="dropdown">
                <a
                        class="dropdown-toggle d-flex align-items-center hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuAvatar"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    <img
                            src="http://127.0.0.1:8000/resources/simple_user.png"
                            class="rounded-circle"
                            height="25"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"
                    />
                </a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/logout">Выйти</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="dropdown">
                <a
                        class="dropdown-toggle d-flex align-items-center hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuAvatar"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    Аккаунт
                </a>

                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                        <a class="dropdown-item" href="{{ path('login') }}">Войти</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('register') }}">Зарегистрироваться</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
