{% extends 'base.html.twig' %}

{% block title %}Список статей{% endblock %}

{% block body %}
    {% if articles.articles|length == 0 %}
        <div
                style="width: 70vw; margin-top: 30vh; margin-left: 20vw; padding: 20px 20px 50px;">
            <h1>К сожалению мы не смоги ничего найти</h1>
        </div>
    {% endif %}

    {% for article in articles.articles %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img
                            {% if article.img is not null %}
                                src="{{ article.img }}"
                            {% else %}
                                src="https://www.prorabneva.ru/storage/post_content/October2021/7iqAR50OomAy0NhPqaT5.jpeg"
                            {% endif %}
                            alt="{{ article.header }}"
                            class="img-fluid rounded-start"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.header }}</h5>
                        <p class="card-text">
                            {{ article.paragraph|raw }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-center">
                <a href="/article/show/{{ article.id }}" class="btn btn-primary">Просмотр</a>
                {% if is_edit %}
                    <a href="/article/edit/{{ article.id }}" class="btn btn-primary" style="margin-left: 10px">Редактировать</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}