{% extends 'base.html.twig' %}

{# {% block title %}{{ title }}{% endblock %} #}

{% block body %}
    {% for article in articles.articles %}

        <div class="card border" style="margin-top: 20px">
            <div class="card-body">
                {{ article.header| raw }}
                {{ article.img| raw }}
                {{ article.paragraph| raw }}
                <a href="/article/show/{{ article.id }}" class="btn btn-primary">Просмотр</a>
            </div>
        </div>
        </a>
    {% endfor %}
{% endblock %}