{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div id="dataId" data-id="{{ article.id }}"></div>
    <div class="shadow-2-strong"
         style="width: 70vw; margin-top: 20px; margin-left: 15vw; padding: 20px 20px 50px;">
        <span>Автор: {{ article.author }}</span>

        {{ article.article|raw }}
        <p class="text-info">Не знаете какие средства необходимы для ремонта? Наш умный <a href="/calculator/{{ article.id }}"
                                                                         target="_blank">калькулятор</a> вам поможет!
        </p>

        <h3>Необходимые инструменты</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for tool in article.tools %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ tool.src|raw }}" class="card-img-top" alt="Skyscrapers"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ tool.name }}</h5>
                            <p class="card-text">
                                {{ tool.description }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="/tool/{{ tool.id }}" class="btn btn-primary" target="_blank">Посмотреть у
                                поставщиков</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h3 style="margin-top: 10px">Необходимые материалы</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for material in article.materials %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ material.src|raw }}" class="card-img-top" alt="Skyscrapers"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ material.name }}</h5>
                            <p class="card-text">
                                {{ material.description }}
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted">Количество: {{ material.count }}</h6>
                        </div>
                        <div class="card-footer">
                            <a href="/material/{{ material.id }}" class="btn btn-primary" target="_blank">Посмотреть
                                у
                                поставщиков</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if carousels|length > 0 %}
        <h3 style="margin-top: 10px">Вам может понравиться</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for carousel in carousels %}
                <div class="col">
                    <div class="card h-100">
                        {% if carousel.img is not null  %}
                            <img src="{{ carousel.img|raw }}" class="card-img-top" alt="Skyscrapers"/>
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ carousel.header|raw }}</h5>
                            <p class="card-text">
                                {{ carousel.paragraph|raw }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="/article/show/{{ carousel.id }}" class="btn btn-primary" target="_blank">Посмотреть</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div style="margin-top: 20px;">
            <h2>Комментарии:</h2>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="form-outline border rounded-8">
                    <textarea class="form-control" id="textAreaComment" rows="2"></textarea>
                    <label class="form-label" for="textAreaComment">Оставьте комментарий!</label>
                </div>
                <input id="sendComment" class="btn btn-light btn-rounded" type="button" value="Отправить">
            {% else %}
                <span>Комментарии доступны только авторизованным пользователям! <a
                            href="/login">Авторизоваться.</a></span>
            {% endif %}
        </div>

        <div style="margin-top: 20px; margin-bottom: 50px">
            {% for comment in article.comments %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.author.name }} {{ comment.author.secondName }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.date|date('d.m.Y') }}</h6>
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
